body .content .thing .entry {
    .tagline.drp-participant {
        .author {
            display: inline-block;
            vertical-align: middle;

            border-radius: 0;
            padding: 0;
            font-size: 13px;
            font-weight: bold;

            color: #3b8dbd !important;
            background-color: transparent !important;
            text-decoration: none !important;

            .drp-charactername {
                display: block;

                line-height: 14px;
                font-size: 11px;
                font-weight: bold;

                color: #000;
            }

            .drp-localtime {
                margin-left: 3px;

                font-size: 12px;

                cursor: default;
            }
        }
    }
}

@import "rebuttal";

.md.drt-dialogue {
    @include clearfix;

    .drp-evidence {
        clear: left;
        display: block;
        max-width: 100%;

        border-left: 4px dotted red;
        padding-left: 4px;

        opacity: 0.9;
        filter: sepia(0.5);
        transition: filter 0.2s;

        &:hover {
            filter: sepia(0);
        }
    }

    sup > sup > a {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;

        height: 1em;
        line-height: 1em;
        max-width: 70px;

        text-overflow: ellipsis;
        white-space: nowrap;
    }

    p.drp-statement {
        @include clearfix;

        .drp-sprite,
        img[src$="#sprite"],
        img[src$="#screen"] {
            clear: left;
            float: left;
            display: block;
            margin-right: 10px;

            max-width: 160px;
            max-height: 120px;

            border-right: 1px solid;
        }

        img[src^="http://vignette"],
        img[src$="#screen"],
        img[src$="#sprite"] {
            height: 120px;
            width: 160px;
            max-height: 120px;
            object-fit: cover;
        }

        img[src$="#screen"] {
            background: linear-gradient(#000 50%, #222 50%);
            background-size: 100% 4px;
            background-repeat: repeat-y;
            box-shadow: inset 0px 0px 80px 1px rgba(0, 0, 0, .8);
            border-radius: 5px;
            filter: sepia(0.7) hue-rotate(57deg) saturate(2.5);
        }

        br {
            clear: left;

            &:first-child,
            & + br {
                display: none;
            }
        }
    }
}

.md.drt-dialogue {
    .drt-sysmessage {
        margin-left: 0;
        padding: 10px;

        font-weight: bold;

        border: 0 none;
        border-radius: 3px;
        color: #0a0;
        background-color: #333;

        strong {
            color: #fc0;

            &::before {
                content: open-quote;
            }
            &::after {
                content: close-quote;
            }
        }
    }
}