@import "mixins";

.sitetable,
.commentarea {
    .usertext {
        .rl-button {
            display: block;
            margin: 5px 0 0;
            padding: 4px 10px;
            padding-left: 24px;

            line-height: normal;
            text-transform: lowercase;
            font-size: inherit;
            font-weight: 400;

            color: #333;
            background-color: #fff;
            border: 0 none;
            border-radius: 2px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

            &:hover {
                background-color: #e6e6e6;
                color: #222;
            }
        }
    }
}

