#header .rl-settingsbutton {
    overflow: hidden;
    vertical-align: top;
    display: inline-block;

    height: 35px;
    width: 35px;

    cursor: pointer;

    background: left top#{'/'}contain no-repeat;
    background-image: url(chrome-extension://__MSG_@@extension_id__/icon-settings.png);
    background-image: url(moz-extension://__MSG_@@extension_id__/icon-settings.png);
}