@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.drtrial-modal {
    padding: 0 8px 20px;

    border-radius: 3px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);

    transition-property: width, height;
    transition-duration: 0.25s;

    .title {
        position: absolute;
        bottom: 0;
        left: -4px;
        right: -4px;

        padding: 0 6px;

        line-height: 15px;
        font-size: 10px;
        font-style: normal;
        font-family: 'Serpentine', 'Helvetica', 'Arial', sans-serif;
        text-align: left;

        color: #fff;
        background-color: #000;
        border: 2px solid #FFF;

        transform: skewX(-20deg);
    }

    .menu {
        margin: 0 -8px 6px;
        padding: 0 10px;

        font-size: 12px;
        line-height: 30px;
        text-align: left;

        color: #fff;
        background-color: #000;

        border-radius: 3px;

        button {
            float: right;
            margin: 3px 0;
            padding: 0 10px;
            height: 24px;

            font-size: inherit;
            font-family: inherit;

            color: #fff;
            background-color: #600;
            border: 0;
            border-radius: 3px;

            &:hover {
                background-color: #c00;
            }
        }
    }
}

.drtrial-spritemenu {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99999;

    max-width: 50%;
    max-height: 90%;
    text-align: center;

    .drtrial-menuopt {
        display: inline-block;
    }

    .drtrial-showspoilers {
        vertical-align: middle;
        margin-right: 4px;

        & + span {
            vertical-align: middle;
        }

        &:disabled + span {
            color: #444;
            text-shadow: -1px -1px 0 #222;
        }
    }

    .drtrial-sprite {
        margin: 2px;
        border-radius: 2px;
        vertical-align: top;
        cursor: pointer;

        transition-property: width, height;
        transition-duration: 0.25s;
    }
}

.md.drtrial-dialogue {
    @include clearfix;

    clear: both;
    padding-top: 4px;

    .drtrial-evidence {
        max-width: 240px;
        max-height: 160px;
    }

    p.drtrial-statement {
        @include clearfix;

        .drtrial-sprite {
            clear: left;
            float: left;
            display: block;
            margin-right: 10px;
            max-height: 90px;

            border-left: 3px solid #000;
            padding-left: 3px;
        }

        br {
            clear: left;

            &:first-child,
            & + br {
                display: none;
            }
        }
    }
}